<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.warehouse.mapper.WarehouseProductStockMapper">

    <resultMap type="com.vector.warehouse.vo.WarehouseProductStockVo" id="WarehouseProductStockVoResult">
        <result property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="factory" column="factory"/>
        <result property="totalStock" column="total_stock"/>
        <result property="usableStock" column="usable_stock"/>
        <result property="lockedStock" column="locked_stock"/>
    </resultMap>

    <sql id="selectWarehouseProductStockVoSql">
        select p.id, p.product_id, ip.name product_name, ip.factory,
               p.total_stock, p.usable_stock, p.locked_stock
        from warehouse_product_stock p left join info_product ip ON ip.id = p.product_id
    </sql>

    <select id="selectVoById"  parameterType="Long" resultMap="WarehouseProductStockVoResult">
        <include refid="selectWarehouseProductStockVoSql"/>
        where p.id=#{id}
    </select>

    <select id="selectVoPage" resultMap="WarehouseProductStockVoResult"
            parameterType="com.vector.warehouse.vo.WarehouseProductStockVo">
        <include refid="selectWarehouseProductStockVoSql"/>
        <where>
            <if test="q.productId != null"> and p.product_id = #{q.id}</if>
            <if test="q.productName != null and q.productName != ''"> and ip.name like concat('%', #{q.productName}, '%'))</if>
            <if test="q.factory != null and q.factory != ''"> and ip.factory like concat('%', #{q.factory}, '%'))</if>
        </where>
        order by p.id desc
    </select>
</mapper>