<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.purchase.mapper.PurchaseOrderMapper">

    <resultMap id="PurchaseOrderVoResult" type="com.vector.purchase.vo.PurchaseOrderVo">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="orderNo" column="order_no"/>
        <result property="orderStatus" column="order_status"/>
        <result property="supplierId" column="supplier_id"/>
        <result property="supplierName" column="supplier_name"/>
        <result property="purchaseRemake" column="purchase_remake"/>
    </resultMap>

    <sql id="selectPurchaseOrderVoSql">
        select p.id, p.create_time, p.create_by, p.order_no, p.order_status,
            p.supplier_id, isu.name supplier_name, p.purchase_remake
        from purchase_order p left join info_supplier isu ON isu.id = p.supplier_id
    </sql>

    <select id="selectVoById" parameterType="Long"
            resultMap="PurchaseOrderVoResult">
        <include refid="selectPurchaseOrderVoSql"/>
        where p.id=#{id}
    </select>

    <select id="selectVoPage" resultMap="PurchaseOrderVoResult"
            parameterType="com.vector.purchase.vo.PurchaseOrderVo">
        <include refid="selectPurchaseOrderVoSql"/>
        <where>
            <if test="q.createBy != null and q.createBy != ''"> and p.create_by = #{q.createBy}</if>
            <if test="q.orderNo != null and q.orderNo != ''"> and p.order_no = #{q.orderNo}</if>
            <if test="q.orderStatus != null "> and p.order_status = #{q.orderStatus}</if>
            <if test="q.supplierId != null "> and p.supplier_id = #{q.supplierId}</if>
            <if test="q.supplierName != null and q.supplierName != ''"> and isu.name like concat('%', #{q.supplierName}, '%')</if>
            <if test="q.createBegin != null and q.createEnd != null">
                and p.create_time between DATE_FORMAT(#{q.createBegin},'%Y-%m-%d 00:00:00') and DATE_FORMAT(#{q.createEnd},'%Y-%m-%d 23:59:59')
            </if>
            <if test="q.productId != null">
                and exists(select 1 from purchase_order_detail pod where pod.order_id=p.id and pod.product_id=#{q.productId})
            </if>
            <if test="q.productName != null and q.productName != ''">
                and exists(select 1 from purchase_order_detail pod left join info_product ip on ip.id=pod.product_id
                where pod.order_id=p.id and ip.name like concat('%', #{q.productName}, '%'))
            </if>
        </where>
        order by p.id desc
    </select>

</mapper>
