<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.sale.mapper.SaleOrderDetailMapper">

    <resultMap type="com.vector.sale.vo.SaleOrderVo$Detail" id="SaleOrderDetailVoResult">
        <result property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="qty" column="qty"/>
        <result property="amount" column="amount"/>
    </resultMap>

    <sql id="selectSaleOrderDetailVoSql">
        select p.id, p.order_id, p.product_id, ip.name product_name, p.price, p.qty, p.amount
        from sale_order_detail p left join info_product ip ON ip.id = p.product_id
    </sql>

    <select id="selectVoByOrderId" parameterType="Long" resultMap="SaleOrderDetailVoResult">
        <include refid="selectSaleOrderDetailVoSql"/>
        where p.order_id=#{orderId}
    </select>

</mapper>
