package ${packageName}.pojo.form;

#set($hasDate = false)
#set($hasBigDecimal = false)
#set($hasJson = false)
#foreach ($tableField in $tableFields)
#if($tableField.isForm && $tableField.javaField != "id"
&& $tableField.javaField != "createTime" && $tableField.javaField != "createBy"
&& $tableField.javaField != "updateTime" && $tableField.javaField != "updateBy")
#if($tableField.javaType == "Date")#set($hasDate = true)#end
#if($tableField.javaType == "BigDecimal")#set($hasBigDecimal = true)#end
#if($tableField.javaType == "JSONArray")#set($hasJson = true)#end
#end
#end
#if($hasJson)
import com.alibaba.fastjson2.JSONArray;
#end
import lombok.Data;

#if($hasBigDecimal)
import java.math.BigDecimal;
#end
#if($hasDate)
import java.util.Date;
#end

/**
 * ${tableComment} Form
 * @author ${author}
 * @date ${date}
 */
@Data
public class ${ClassName}Form {

    /** ID */
    private Long id;
#foreach ($tableField in $tableFields)
#if($tableField.isForm && $tableField.javaField != "id"
&& $tableField.javaField != "createTime" && $tableField.javaField != "createBy"
&& $tableField.javaField != "updateTime" && $tableField.javaField != "updateBy")

    /** ${tableField.comment} */
    private ${tableField.javaType} ${tableField.javaField};
#end
#end
}
