<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.app.mapper.AppUserMapper">

    <resultMap id="AppUserVOResult" type="com.vector.app.pojo.vo.AppUserVO">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="mobile" column="mobile"/>
        <result property="openid" column="openid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="userStatus" column="user_status"/>
        <result property="avatar" column="avatar"/>
    </resultMap>

    <sql id="selectAppUserVOSql">
        SELECT p.id, p.create_time, p.mobile, p.openid, p.username, p.password, p.user_status, p.avatar
        FROM app_user p
    </sql>

    <select id="selectVOById" resultMap="AppUserVOResult" parameterType="Long">
        <include refid="selectAppUserVOSql"/>
        WHERE p.id = #{id}
    </select>

    <select id="selectVOPage" resultMap="AppUserVOResult"
            parameterType="com.vector.app.pojo.query.AppUserQuery">
        <include refid="selectAppUserVOSql"/>
        <where>
            <if test="q.createBegin != null and q.createEnd != null">
                AND p.create_time BETWEEN DATE_FORMAT(#{q.createBegin},'%Y-%m-%d 00:00:00')
                AND DATE_FORMAT(#{q.createEnd},'%Y-%m-%d 23:59:59')
            </if>
            <if test="q.mobile != null and q.mobile != ''">
                AND p.mobile = #{q.mobile}
            </if>
            <if test="q.openid != null and q.openid != ''">
                AND p.openid = #{q.openid}
            </if>
            <if test="q.username != null and q.username != ''">
                AND p.username = #{q.username}
            </if>
            <if test="q.userStatus != null and q.userStatus != ''">
                AND p.user_status = #{q.userStatus}
            </if>
        </where>
    </select>

</mapper>
